
.definition-input {
    padding: 15px 20px;
	width: 300px;
}

.input-title {
  font-family: 'lexend', monospace;
  font-weight: regular;
  font-size: 1.6rem;
  text-align: left;
  color: white;
  margin-bottom: 1rem;
}

.titlebar {
  margin-top: 1.5rem;
}